$txt_light: #fff;
$bg_header: #5a26bd;
$bg_button1:#2a70f6;
$bg_button2:#f08c34;

$text:(
    h1fSize: 2.9rem,
    h1Color: #111,
    pfSize:  0.9rem,
    pColor: #111,
    aColor: #fff,
);


// $var:(
//     ciao: 4px,
// );
//  margin: map-get($var,ciao);