@import 'variables';
@import 'queries';
@import 'font';

*{
    box-sizing: border-box;
}


h1{
    font-size: $h1-fSise;
}
h2{
    font-size: $h2-fSise;
}

#header{
    #main-menu{
        width: 100%;
        background: $primary;
        padding: 0.2rem 0;
        border-radius: 15px;
        li{
            display: inline-block;
            a{
                color: white;
                text-decoration: none;
                margin-right: 1vw;
                font-style: italic;
            }
        }
    }
}

#main{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    text-align: justify;
    margin: 5vh auto;
    @include desktop{
        flex-direction: column-reverse;
        width: 90%;
    }
    #content{
        flex: 9;
        a{
            color: $accent;
            text-decoration: none;
            font-style: italic;
        }
        button{
            background-color: $accent;
            color: white;
            padding: 0.7rem;
            box-shadow: 2px 2px gray;
            border: none;
            cursor: pointer;
            margin: 1rem 0;
        }
    }
    #sidebar{
        flex: 2;
        ul{
            width: 100%;
            @include desktop{
                padding: 0;
                
            }
            li{
                list-style: none;
                border-bottom: 1px dashed gray;
                padding: 1rem;
            }
        }
        @include desktop{
            padding: 0;
            
        }
        
    }
}

#footer{
    height: 12vh;
    background: $secondary;
}